html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* Canvas that takes up full screen height */
canvas {
	width: 100%;
	height: 100%;
}

#details {
	position: fixed;
	top: 0;
	right: 0;
	background-color: gainsboro;
	padding:5px;
	border-bottom-left-radius: 5px;
	font-size: 20px;
}

#mission-name {
	font-weight: bold;
}